/* === Arimo - regular */
@font-face {
	font-family: 'Arimo';
	font-style: normal;
	font-weight: 400;
	src: url("./font/Arimo-Regular.eot");
	src: local("Arimo Regular"),
		local("Arimo-Regular"),
		url("./font/Arimo-Regular.eot") format("embedded-opentype"),
		url("./font/Arimo-Regular.woff2") format("woff2"),
		url("./font/Arimo-Regular.woff") format("woff"),
		url("./font/Arimo-Regular.ttf") format("truetype"),
		url("./font/Arimo-Regular.svg") format("svg");
}

/* === Pacifico - regular */
@font-face {
	font-family: 'Pacifico';
	font-style: normal;
	font-weight: 400;
	src: url("./font/Pacifico-Regular.eot");
	src: local("Pacifico Regular"),
		local("Pacifico-Regular"),
		url("./font/Pacifico-Regular.eot") format("embedded-opentype"),
		url("./font/Pacifico-Regular.woff2") format("woff2"),
		url("./font/Pacifico-Regular.woff") format("woff"),
		url("./font/Pacifico-Regular.ttf") format("truetype"),
		url("./font/Pacifico-Regular.svg") format("svg");
}
