html {
  font-family: 'Arimo', sans-serif; }

body {
  margin: 0; }

input, textarea {
  font-family: "Arimo", sans-serif; }

h1, h2, h3, h4, h5, h6, button {
  font-family: "Pacifico", cursive; }

#app {
  overflow: hidden; }

.app {
  display: flex;
  height: 100vh;
  flex-direction: column; }
  .app .content-wrapper {
    flex: 99;
    overflow-y: scroll; }
  @media (min-width: 999px) {
    .app {
      flex-direction: row; } }

@media (min-width: 999px) {
  .only-small {
    display: none; } }

.closed .nav-links {
  display: none; }

.nav-wrapper.closed {
  position: relative;
  flex: 1;
  flex-direction: row;
  align-items: center; }
  .nav-wrapper.closed .burger {
    margin: .2em;
    padding-left: .4em;
    padding-right: .4em; }
  .nav-wrapper.closed .log-out {
    margin: .4em;
    padding-left: .4em;
    padding-right: .4em; }

.nav-wrapper {
  position: absolute;
  flex: 9;
  width: 100%;
  min-height: 6em;
  color: white;
  font-weight: bold;
  background-color: #922fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0.2em 0em 0.2em rgba(0, 0, 0, 0.7); }
  .nav-wrapper .nav-links.route-\/ .home,
  .nav-wrapper .nav-links.route-\/info .info,
  .nav-wrapper .nav-links.route-\/bot-1 .bot-1,
  .nav-wrapper .nav-links.route-\/bot-2 .bot-2 {
    background-color: rgba(255, 255, 255, 0.4);
    cursor: pointer;
    pointer-events: none;
    box-shadow: 0em 0.1em 0.1em rgba(0, 0, 0, 0.6); }
  .nav-wrapper .nav-links {
    flex: 9;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .nav-wrapper .nav-links .nav-link {
      text-align: center;
      font-size: 1.4em;
      margin-top: .2em;
      margin-bottom: .2em;
      padding-top: 1.4em;
      padding-bottom: 1.4em;
      box-shadow: 0em 0.2em 0.2em rgba(0, 0, 0, 0.4);
      background-color: #651fb1;
      cursor: pointer; }
      .nav-wrapper .nav-links .nav-link:hover {
        background-color: rgba(255, 255, 255, 0.2);
        box-shadow: 0em 0.4em 0.4em rgba(0, 0, 0, 0.4); }
      .nav-wrapper .nav-links .nav-link:focus {
        background-color: rgba(255, 255, 255, 0.2);
        box-shadow: 0em 0.4em 0.4em rgba(0, 0, 0, 0.4); }
  .nav-wrapper .log-out {
    font-size: 1.4em;
    margin-bottom: .6em;
    text-align: center;
    padding-top: 1.4em;
    padding-bottom: 1.4em;
    border-radius: 10%;
    box-shadow: 0em 0.2em 0.2em rgba(0, 0, 0, 0.4);
    background-color: #651fb1;
    cursor: pointer; }
    .nav-wrapper .log-out:hover {
      background-color: rgba(255, 255, 255, 0.2);
      box-shadow: 0em 0.4em 0.4em rgba(0, 0, 0, 0.4); }
    .nav-wrapper .log-out:focus {
      background-color: rgba(255, 255, 255, 0.2);
      box-shadow: 0em 0.4em 0.4em rgba(0, 0, 0, 0.4); }
  .nav-wrapper .burger {
    font-size: 2.8em;
    margin-bottom: .3em;
    text-align: center;
    padding-top: .3em;
    padding-bottom: .4em;
    border-radius: 10%;
    box-shadow: 0em 0.1em 0.1em rgba(0, 0, 0, 0.4);
    background-color: #651fb1;
    cursor: pointer; }
    .nav-wrapper .burger:hover {
      background-color: rgba(255, 255, 255, 0.2);
      box-shadow: 0em 0.2em 0.2em rgba(0, 0, 0, 0.4); }
    .nav-wrapper .burger:focus {
      background-color: rgba(255, 255, 255, 0.2);
      box-shadow: 0em 0.2em 0.2em rgba(0, 0, 0, 0.4); }
  @media (min-width: 999px) {
    .nav-wrapper {
      flex: 1;
      height: 100%;
      min-width: 6em;
      position: relative; }
      .nav-wrapper .burger {
        visibility: hidden; } }

.hidden {
  visibility: hidden; }

.small-seperator {
  background-color: #651fb1;
  min-width: .2rem;
  min-height: .2rem;
  max-width: 80%;
  max-height: 80%;
  transform: translateX(10%);
  box-shadow: 0em 0em 0.8em rgba(0, 0, 0, 0.8); }

.seperator {
  background-color: #651fb1;
  min-width: .2rem;
  min-height: .2rem;
  box-shadow: 0rem 0rem 0.8erm rgba(0, 0, 0, 0.8); }

.bot-wrapper {
  margin-bottom: 1em;
  background-color: #922fff;
  color: white;
  display: flex;
  flex-flow: column;
  font-size: 1em;
  padding: .4em;
  border-radius: .4em;
  box-shadow: 0em 0.4em 0.4em rgba(0, 0, 0, 0.7); }
  .bot-wrapper .status-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6em;
    padding: .7em; }
  .bot-wrapper .things-wrapper {
    display: flex;
    flex-flow: column;
    flex: 1; }
    .bot-wrapper .things-wrapper .info-wrapper {
      padding: .8em;
      display: flex;
      flex: 1;
      flex-wrap: wrap;
      justify-content: center;
      font-size: 3rem; }
      .bot-wrapper .things-wrapper .info-wrapper .bot-name {
        margin: .1em; }
      .bot-wrapper .things-wrapper .info-wrapper .bot-id {
        margin: .1em; }
    .bot-wrapper .things-wrapper .commands-wrapper {
      padding: .8em;
      display: flex;
      justify-content: center; }
      .bot-wrapper .things-wrapper .commands-wrapper .start.running {
        cursor: wait; }
      .bot-wrapper .things-wrapper .commands-wrapper .start, .bot-wrapper .things-wrapper .commands-wrapper .stop {
        margin: .1em;
        background-color: #eee;
        line-height: 2em;
        font-size: 2em;
        padding: .6em;
        border-radius: .4em;
        box-shadow: 0em 0.2em 0.2em rgba(0, 0, 0, 0.4);
        background-color: #651fb1; }
        .bot-wrapper .things-wrapper .commands-wrapper .start:hover, .bot-wrapper .things-wrapper .commands-wrapper .stop:hover {
          background-color: rgba(255, 255, 255, 0.2);
          box-shadow: 0em 0.2em 0.2em rgba(0, 0, 0, 0.4); }
        .bot-wrapper .things-wrapper .commands-wrapper .start:focus, .bot-wrapper .things-wrapper .commands-wrapper .stop:focus {
          background-color: rgba(255, 255, 255, 0.2);
          box-shadow: 0em 0.2em 0.2em rgba(0, 0, 0, 0.4); }
  @media (min-width: 999px) {
    .bot-wrapper {
      flex-flow: row; } }

.botconfig-wrapper {
  display: flex;
  font-size: 1.4em;
  background-color: #922fff;
  border-radius: .2em;
  flex-flow: column;
  color: white;
  padding: .4em;
  box-shadow: 0em 0.4em 0.4em rgba(0, 0, 0, 0.7); }
  @media (min-width: 999px) {
    .botconfig-wrapper {
      flex-flow: row wrap;
      align-items: flex-start; } }
  .botconfig-wrapper .sep-head {
    flex: 1 100%; }
  .botconfig-wrapper .mid-divide {
    align-self: stretch; }
  .botconfig-wrapper .save-bot {
    flex: 1 100%;
    margin: .1em;
    margin-top: .4em;
    background-color: #eee;
    line-height: 1.4em;
    font-size: 1.4em;
    padding: .6em;
    border-radius: .4em;
    cursor: pointer;
    text-align: center;
    box-shadow: 0em 0.2em 0.2em rgba(0, 0, 0, 0.4);
    background-color: #651fb1; }
    .botconfig-wrapper .save-bot:hover {
      background-color: rgba(255, 255, 255, 0.2);
      box-shadow: 0em 0.2em 0.2em rgba(0, 0, 0, 0.4); }
    .botconfig-wrapper .save-bot:focus {
      background-color: rgba(255, 255, 255, 0.2);
      box-shadow: 0em 0.2em 0.2em rgba(0, 0, 0, 0.4); }
  .botconfig-wrapper .head-wrapper {
    flex: 1 100%;
    display: flex;
    flex-flow: column;
    padding: .4em; }
    .botconfig-wrapper .head-wrapper .info-bot {
      display: flex;
      padding: .4em;
      flex-flow: column;
      flex: 1; }
      .botconfig-wrapper .head-wrapper .info-bot .bot-name {
        flex: 1;
        font-size: 2em; }
      .botconfig-wrapper .head-wrapper .info-bot .bot-config {
        flex: 1;
        font-size: 1.6em; }
      .botconfig-wrapper .head-wrapper .info-bot .bot-id {
        flex: 1;
        font-size: 1.4em; }
    .botconfig-wrapper .head-wrapper .inputs-wrapper {
      padding: .4em;
      display: flex;
      font-weight: bold;
      flex-flow: column;
      flex: 1; }
      .botconfig-wrapper .head-wrapper .inputs-wrapper .label {
        font-size: 2em;
        text-align: center;
        margin: 0; }
      .botconfig-wrapper .head-wrapper .inputs-wrapper .input-wrapper {
        display: flex;
        margin-bottom: .4em;
        margin-top: .4em;
        justify-content: center;
        flex-flow: column;
        flex: 1; }
        .botconfig-wrapper .head-wrapper .inputs-wrapper .input-wrapper label {
          flex: 1;
          padding: .4em;
          padding-top: .8em; }
          @media (min-width: 700px) {
            .botconfig-wrapper .head-wrapper .inputs-wrapper .input-wrapper label {
              text-align: right; } }
        .botconfig-wrapper .head-wrapper .inputs-wrapper .input-wrapper input {
          margin-left: auto;
          margin-right: auto;
          width: 90%;
          max-width: 18em;
          font-size: 1em;
          padding: .2em; }
        @media (min-width: 700px) {
          .botconfig-wrapper .head-wrapper .inputs-wrapper .input-wrapper {
            flex-flow: row; } }
      .botconfig-wrapper .head-wrapper .inputs-wrapper .save, .botconfig-wrapper .head-wrapper .inputs-wrapper .init-bot {
        flex: 1;
        margin: .1em;
        margin-top: .4em;
        background-color: #eee;
        line-height: 1.4em;
        font-size: 1.4em;
        padding: .6em;
        border-radius: .4em;
        cursor: pointer;
        text-align: center;
        box-shadow: 0em 0.2em 0.2em rgba(0, 0, 0, 0.4);
        background-color: #651fb1; }
        .botconfig-wrapper .head-wrapper .inputs-wrapper .save:hover, .botconfig-wrapper .head-wrapper .inputs-wrapper .init-bot:hover {
          background-color: rgba(255, 255, 255, 0.2);
          box-shadow: 0em 0.2em 0.2em rgba(0, 0, 0, 0.4); }
        .botconfig-wrapper .head-wrapper .inputs-wrapper .save:focus, .botconfig-wrapper .head-wrapper .inputs-wrapper .init-bot:focus {
          background-color: rgba(255, 255, 255, 0.2);
          box-shadow: 0em 0.2em 0.2em rgba(0, 0, 0, 0.4); }
    @media (min-width: 999px) {
      .botconfig-wrapper .head-wrapper {
        flex-flow: row; } }
  .botconfig-wrapper .settings-wrapper, .botconfig-wrapper .commands-wrapper {
    flex: 1;
    display: flex;
    font-size: .8em;
    padding: .4em;
    flex-flow: column;
    justify-content: space-between; }
    .botconfig-wrapper .settings-wrapper h1, .botconfig-wrapper .commands-wrapper h1 {
      text-align: center;
      margin: 0;
      font-size: 3em; }
    .botconfig-wrapper .settings-wrapper .setting-wrapper, .botconfig-wrapper .commands-wrapper .setting-wrapper {
      flex: 1 100%;
      display: flex;
      flex-flow: column;
      padding: .4em; }
      @media (min-width: 999px) {
        .botconfig-wrapper .settings-wrapper .setting-wrapper, .botconfig-wrapper .commands-wrapper .setting-wrapper {
          flex: 1; } }
      .botconfig-wrapper .settings-wrapper .setting-wrapper .top-wrapper, .botconfig-wrapper .commands-wrapper .setting-wrapper .top-wrapper {
        flex: 1;
        display: flex;
        cursor: pointer; }
        .botconfig-wrapper .settings-wrapper .setting-wrapper .top-wrapper .title, .botconfig-wrapper .commands-wrapper .setting-wrapper .top-wrapper .title {
          flex: 1;
          margin: 0; }
        .botconfig-wrapper .settings-wrapper .setting-wrapper .top-wrapper .include, .botconfig-wrapper .commands-wrapper .setting-wrapper .top-wrapper .include {
          flex: 2;
          font-size: 2em;
          padding-right: 1em;
          text-align: right;
          cursor: pointer; }
      .botconfig-wrapper .settings-wrapper .setting-wrapper .top-wrapper.yes, .botconfig-wrapper .commands-wrapper .setting-wrapper .top-wrapper.yes {
        background: linear-gradient(45deg, rgba(38, 193, 134, 0) 13%, rgba(38, 193, 134, 0.72) 39%, #42c62a 49%, rgba(69, 198, 33, 0.98) 50%, rgba(69, 198, 33, 0.8) 60%, #45c621 69%, #45c621 81%, rgba(69, 198, 33, 0.8) 99%, rgba(69, 198, 33, 0) 100%); }
      .botconfig-wrapper .settings-wrapper .setting-wrapper .top-wrapper.no, .botconfig-wrapper .commands-wrapper .setting-wrapper .top-wrapper.no {
        background: linear-gradient(45deg, rgba(64, 64, 64, 0) 13%, rgba(64, 64, 64, 0.72) 39%, #636363 49%, rgba(102, 102, 102, 0.98) 50%, rgba(102, 102, 102, 0.8) 60%, #666666 69%, #666666 81%, rgba(102, 102, 102, 0.8) 99%, rgba(102, 102, 102, 0) 100%); }
      .botconfig-wrapper .settings-wrapper .setting-wrapper .setting-string, .botconfig-wrapper .commands-wrapper .setting-wrapper .setting-string {
        display: flex;
        margin-bottom: .2em;
        margin-top: .2em;
        padding: .2em;
        justify-content: center;
        flex-flow: column;
        flex: 1; }
        .botconfig-wrapper .settings-wrapper .setting-wrapper .setting-string label, .botconfig-wrapper .commands-wrapper .setting-wrapper .setting-string label {
          flex: 1;
          font-weight: bold;
          padding: .4em;
          padding-top: .8em; }
          @media (min-width: 700px) {
            .botconfig-wrapper .settings-wrapper .setting-wrapper .setting-string label, .botconfig-wrapper .commands-wrapper .setting-wrapper .setting-string label {
              text-align: right; } }
          @media (min-width: 999px) {
            .botconfig-wrapper .settings-wrapper .setting-wrapper .setting-string label, .botconfig-wrapper .commands-wrapper .setting-wrapper .setting-string label {
              text-align: left; } }
        .botconfig-wrapper .settings-wrapper .setting-wrapper .setting-string input, .botconfig-wrapper .commands-wrapper .setting-wrapper .setting-string input {
          flex: 3;
          width: 90%;
          font-size: 1em;
          padding: .4em; }
        @media (min-width: 700px) {
          .botconfig-wrapper .settings-wrapper .setting-wrapper .setting-string, .botconfig-wrapper .commands-wrapper .setting-wrapper .setting-string {
            flex-flow: row; } }
        @media (min-width: 999px) {
          .botconfig-wrapper .settings-wrapper .setting-wrapper .setting-string, .botconfig-wrapper .commands-wrapper .setting-wrapper .setting-string {
            flex-flow: column; } }
      .botconfig-wrapper .settings-wrapper .setting-wrapper .setting-number, .botconfig-wrapper .commands-wrapper .setting-wrapper .setting-number {
        display: flex;
        margin-bottom: .2em;
        margin-top: .2em;
        padding: .2em;
        justify-content: center;
        flex-flow: column;
        flex: 1; }
        .botconfig-wrapper .settings-wrapper .setting-wrapper .setting-number label, .botconfig-wrapper .commands-wrapper .setting-wrapper .setting-number label {
          flex: 1;
          font-weight: bold;
          padding: .4em;
          padding-top: .8em; }
          @media (min-width: 700px) {
            .botconfig-wrapper .settings-wrapper .setting-wrapper .setting-number label, .botconfig-wrapper .commands-wrapper .setting-wrapper .setting-number label {
              text-align: right; } }
          @media (min-width: 999px) {
            .botconfig-wrapper .settings-wrapper .setting-wrapper .setting-number label, .botconfig-wrapper .commands-wrapper .setting-wrapper .setting-number label {
              text-align: left; } }
        .botconfig-wrapper .settings-wrapper .setting-wrapper .setting-number input, .botconfig-wrapper .commands-wrapper .setting-wrapper .setting-number input {
          flex: 3;
          width: 90%;
          font-size: 1em;
          padding: .4em; }
        @media (min-width: 700px) {
          .botconfig-wrapper .settings-wrapper .setting-wrapper .setting-number, .botconfig-wrapper .commands-wrapper .setting-wrapper .setting-number {
            flex-flow: row; } }
        @media (min-width: 999px) {
          .botconfig-wrapper .settings-wrapper .setting-wrapper .setting-number, .botconfig-wrapper .commands-wrapper .setting-wrapper .setting-number {
            flex-flow: column; } }
      .botconfig-wrapper .settings-wrapper .setting-wrapper .setting-array, .botconfig-wrapper .commands-wrapper .setting-wrapper .setting-array {
        display: flex;
        margin-bottom: .2em;
        margin-top: .2em;
        padding: .2em;
        justify-content: center;
        flex-flow: column;
        flex: 1; }
        .botconfig-wrapper .settings-wrapper .setting-wrapper .setting-array label, .botconfig-wrapper .commands-wrapper .setting-wrapper .setting-array label {
          flex: 1;
          font-weight: bold;
          padding: .4em;
          padding-top: .8em; }
          @media (min-width: 700px) {
            .botconfig-wrapper .settings-wrapper .setting-wrapper .setting-array label, .botconfig-wrapper .commands-wrapper .setting-wrapper .setting-array label {
              text-align: right; } }
          @media (min-width: 999px) {
            .botconfig-wrapper .settings-wrapper .setting-wrapper .setting-array label, .botconfig-wrapper .commands-wrapper .setting-wrapper .setting-array label {
              text-align: left; } }
        .botconfig-wrapper .settings-wrapper .setting-wrapper .setting-array textarea, .botconfig-wrapper .commands-wrapper .setting-wrapper .setting-array textarea {
          flex: 3;
          width: 90%;
          max-width: 90%;
          min-height: 3.6em;
          font-size: 1em;
          padding: .4em; }
        @media (min-width: 700px) {
          .botconfig-wrapper .settings-wrapper .setting-wrapper .setting-array, .botconfig-wrapper .commands-wrapper .setting-wrapper .setting-array {
            flex-flow: row; } }
        @media (min-width: 999px) {
          .botconfig-wrapper .settings-wrapper .setting-wrapper .setting-array, .botconfig-wrapper .commands-wrapper .setting-wrapper .setting-array {
            flex-flow: column; } }
      .botconfig-wrapper .settings-wrapper .setting-wrapper .setting-select, .botconfig-wrapper .commands-wrapper .setting-wrapper .setting-select {
        display: flex;
        margin-bottom: .2em;
        margin-top: .2em;
        padding: .2em;
        justify-content: center;
        flex-flow: column;
        flex: 1; }
        .botconfig-wrapper .settings-wrapper .setting-wrapper .setting-select label, .botconfig-wrapper .commands-wrapper .setting-wrapper .setting-select label {
          flex: 1;
          font-weight: bold;
          padding: .4em;
          padding-top: .8em; }
          @media (min-width: 700px) {
            .botconfig-wrapper .settings-wrapper .setting-wrapper .setting-select label, .botconfig-wrapper .commands-wrapper .setting-wrapper .setting-select label {
              text-align: right; } }
          @media (min-width: 999px) {
            .botconfig-wrapper .settings-wrapper .setting-wrapper .setting-select label, .botconfig-wrapper .commands-wrapper .setting-wrapper .setting-select label {
              text-align: left; } }
        .botconfig-wrapper .settings-wrapper .setting-wrapper .setting-select .select-wrapper, .botconfig-wrapper .commands-wrapper .setting-wrapper .setting-select .select-wrapper {
          color: black;
          position: relative;
          flex: 3;
          display: flex;
          width: 90%;
          font-size: 1em; }
          .botconfig-wrapper .settings-wrapper .setting-wrapper .setting-select .select-wrapper .select, .botconfig-wrapper .commands-wrapper .setting-wrapper .setting-select .select-wrapper .select {
            position: relative;
            padding: .6em;
            width: 100%;
            cursor: pointer;
            background-color: white; }
            .botconfig-wrapper .settings-wrapper .setting-wrapper .setting-select .select-wrapper .select .select-arrow, .botconfig-wrapper .commands-wrapper .setting-wrapper .setting-select .select-wrapper .select .select-arrow {
              position: absolute;
              right: .2em;
              top: .2em;
              font-size: 1.5em;
              width: auto;
              height: 100%; }
          .botconfig-wrapper .settings-wrapper .setting-wrapper .setting-select .select-wrapper .selection, .botconfig-wrapper .commands-wrapper .setting-wrapper .setting-select .select-wrapper .selection {
            z-index: 1;
            position: absolute;
            padding: .4em;
            background-color: white;
            border: solid 1px;
            width: 100%; }
            .botconfig-wrapper .settings-wrapper .setting-wrapper .setting-select .select-wrapper .selection .selection-item, .botconfig-wrapper .commands-wrapper .setting-wrapper .setting-select .select-wrapper .selection .selection-item {
              padding: .4em;
              cursor: pointer; }
            .botconfig-wrapper .settings-wrapper .setting-wrapper .setting-select .select-wrapper .selection .selection-item.active, .botconfig-wrapper .commands-wrapper .setting-wrapper .setting-select .select-wrapper .selection .selection-item.active {
              background-color: rgba(174, 42, 181, 0.5); }
        @media (min-width: 700px) {
          .botconfig-wrapper .settings-wrapper .setting-wrapper .setting-select, .botconfig-wrapper .commands-wrapper .setting-wrapper .setting-select {
            flex-flow: row; } }
        @media (min-width: 999px) {
          .botconfig-wrapper .settings-wrapper .setting-wrapper .setting-select, .botconfig-wrapper .commands-wrapper .setting-wrapper .setting-select {
            flex-flow: column; } }
      .botconfig-wrapper .settings-wrapper .setting-wrapper .setting-boolean, .botconfig-wrapper .commands-wrapper .setting-wrapper .setting-boolean {
        display: flex;
        margin-bottom: .2em;
        margin-top: .2em;
        padding: .2em;
        justify-content: center;
        flex: 1; }
        .botconfig-wrapper .settings-wrapper .setting-wrapper .setting-boolean label, .botconfig-wrapper .commands-wrapper .setting-wrapper .setting-boolean label {
          flex: 1;
          font-weight: bold;
          padding: .4em;
          padding-top: .8em; }
          @media (min-width: 700px) {
            .botconfig-wrapper .settings-wrapper .setting-wrapper .setting-boolean label, .botconfig-wrapper .commands-wrapper .setting-wrapper .setting-boolean label {
              text-align: right; } }
        .botconfig-wrapper .settings-wrapper .setting-wrapper .setting-boolean .checkbox, .botconfig-wrapper .commands-wrapper .setting-wrapper .setting-boolean .checkbox {
          position: relative;
          flex: 1;
          font-size: 2.4em;
          height: .8em;
          max-width: .8em;
          border: solid .1em;
          cursor: pointer; }
          .botconfig-wrapper .settings-wrapper .setting-wrapper .setting-boolean .checkbox div, .botconfig-wrapper .commands-wrapper .setting-wrapper .setting-boolean .checkbox div {
            position: absolute;
            margin-top: -.2em; }
        .botconfig-wrapper .settings-wrapper .setting-wrapper .setting-boolean .checkbox.unchecked, .botconfig-wrapper .commands-wrapper .setting-wrapper .setting-boolean .checkbox.unchecked {
          background-color: grey; }
        .botconfig-wrapper .settings-wrapper .setting-wrapper .setting-boolean .checkbox.checked, .botconfig-wrapper .commands-wrapper .setting-wrapper .setting-boolean .checkbox.checked {
          background-color: rgba(32, 197, 32, 0.9); }

.app.home .content-wrapper {
  padding: 1em; }

.app.info .content-wrapper {
  padding: 1em; }

.app.info .info-wrapper {
  display: flex;
  font-size: 1.4em;
  background-color: #922fff;
  border-radius: .2em;
  flex-flow: column;
  color: white;
  padding: .4em;
  box-shadow: 0em 0.4em 0.4em rgba(0, 0, 0, 0.7); }

.app.bot-1 .content-wrapper, .app.bot-2 .content-wrapper {
  padding: 1em; }

.app.login {
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.login-wrapper {
  margin: .2rem;
  font-size: 1em;
  color: white;
  width: 90%;
  max-width: 30em;
  padding: .8em;
  flex: 1;
  background: #922fff;
  border-radius: .4em;
  box-shadow: 0em 0.4em 0.4em rgba(0, 0, 0, 0.8); }
  .login-wrapper h1 {
    font-size: 4em; }
  .login-wrapper .inputs {
    font-size: 1.4em; }
    .login-wrapper .inputs .input-wrapper {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center; }
      .login-wrapper .inputs .input-wrapper label {
        flex: 1;
        padding: .4em;
        padding-top: .8em; }
      .login-wrapper .inputs .input-wrapper input {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        max-width: 18em;
        font-size: 1em;
        padding: .2em; }
  .login-wrapper hr {
    margin-top: .8em;
    margin-bottom: .8em; }
  .login-wrapper .button-wrapper {
    display: flex;
    justify-content: center; }
    .login-wrapper .button-wrapper button {
      color: white;
      font-size: 2em;
      background: #651fb1;
      width: 100%;
      max-width: 14em;
      padding: .5em;
      border-radius: .2em;
      border: none;
      margin-left: auto;
      margin-right: auto;
      box-shadow: 0em 0.2em 0.2em rgba(0, 0, 0, 0.4); }
    .login-wrapper .button-wrapper button.hover {
      background-color: rgba(255, 255, 255, 0.2);
      box-shadow: 0em 0.4em 0.4em rgba(0, 0, 0, 0.4); }
